@charset "UTF-8";

/* FONTS */
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

:root {
    --text-main: #FFFFFF;
    --navbar-color: #0A2540;
    --primary-color: #d3defc;
    --secondary-color: #d49e17;
    --header-color: #8091c5;
    --bg-section: #dce0e9;
    --text-section: #333333;
    --fab-btns: #3f8ab669;
    --project-card: #b9d9dfcb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', system-ui;
    background-color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: clamp(14px, 1.5vw, 16px);
    color: var(--text-main);
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
}