@charset "UTF-8";

:root {
    --text-main: #f1f1f1;
    --navbar-color: #1f52ddda;
    --primary-color: #d3defc;
    --secondary-color: #ff5c5c;
    --header-color: #969eb6;
    --bg-section: #e0e0e0;
    --text-section: #333;
    --fab-btns: #3f8ab669;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    background-color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: clamp(14px, 1.5vw, 16px);
    color: var(--text-main);
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
}