@charset "UTF-8";

.fab-container {
    position: fixed;
    bottom: 20px;
    right: 20px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    z-index: 999;
}

.fab {
    width: 55px;
    height: 55px;
    background: var(--fab-btns);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    text-decoration: none;
}

.fab:hover {
    transform: scale(1.1);
    background: var(--shadow-primary);
}

.biblecard {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.biblecard h2 {
    margin: 0;
}

.biblecard p {
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
}

.biblecard small {
    align-self: flex-end;
    font-style: italic;
    font-size: 16px;
    opacity: 0.8;
}

/* CARDS DE IDENTIFICACION */
.cards-container {
    display: flex !important;
    flex-wrap: wrap;
    gap: 25px !important;
    justify-content: center;
    align-items: start;
    padding: 20px;
    width: 90%;
    margin: 30px auto;
}

.card-container {
    perspective: 1000px;
    width: 250px;
    height: 350px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

/* efecto hover flip */
.card-container:hover .card {
    transform: rotateY(180deg);
}

/* ambas caras */
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid var(--secondary-color);
    background: var(--bg-section);
    color: var(--text-section);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/* frente */
.card-front img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

/* atrás */
.card-back {
    transform: rotateY(180deg);
    text-align: center;
}

@media (max-width: 768px) {

    .biblecard {
        margin: 20px 10px;
        padding: 15px;
    }

    .biblecard h2 {
        font-size: 18px;
        text-align: center;
    }

    .biblecard p {
        font-size: 1rem;
        line-height: 1.4;
    }

    .biblecard small {
        font-size: 14px;
        align-self: flex-end;
        opacity: 0.8;
    }
}