@charset "UT-8";

nav {
    width: 100%;
    background-color: var(--navbar-color);
    border-bottom: 2px solid var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav a {
    color: var(--text-main);
    text-decoration: none;
    font-weight: 600;
    padding: 8px 30px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.navhover:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 5px;
}

.logo {
    width: 95px;
}

footer {
    width: 100%;
    background-color: var(--navbar-color);
    border-top: 2px solid var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-weight: 600;
}

header {
    text-align: center;
    padding: 100px 20px;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url('../assets/img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.biblecard {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    color: var(--text-section);
    background-color: var(--bg-section);
    border-radius: 10px;
    border: 5px solid var(--secondary-color);

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.titles {
    font-weight: 600;
    font-size: clamp(18px, 3vw, 28px);
    text-align: center;
    margin-bottom: 20px;
    background: var(--navbar-color);
    padding: 10px;
    border-radius: 7px;
}

.two-columns {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.two-columns > * {
    flex: 1;
    min-width: 500px;
}

.news-card {
    width: 320px;
    border-radius: 12px;
    overflow: hidden;
    background-color: var(--bg-section);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.news-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.news-card:hover img {
    transform: scale(1.1);
}

.news-content {
    padding: 15px;
    color: var(--text-section);
}

.news-content h3 {
    margin: 0 0 8px 0;
    font-size: 1.1rem;
}

.news-content p {
    margin: 0;
    font-size: 0.9rem;
    opacity: 0.8;
    text-align: justify;
}

.pdf-section {
    display: flex;
    gap: 20px;
    align-items: stretch;
    width: 100%;
    height: 80vh;
}

.pdf-view {
    flex: 2;
    height: 100%;
}

.pdf-view iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

.pdf-view iframe {
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.pdf-info {
    flex: 1;
    background: var(--bg-section);
    color: var(--text-section);
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
}

.project-section {
    margin-top: 30px;
    border: 0 solid transparent;
    background-color: var(--project-card);
    padding: 20px;
    border-radius: 10px;
}

.project-section h1 {
    text-align: center;
    margin-bottom: 20px;
    background: var(--navbar-color);
    padding: 10px;
    border-radius: 7px;
}

@media (max-width: 900px) {

    nav {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    nav a {
        padding: 10px 15px;
        font-size: 14px;
    }

    .logo {
        width: 70px;
    }

    .two-columns {
        flex-direction: column;
        align-items: center;
    }

    .two-columns > * {
        min-width: 100%;
    }

    /* news card más fluida */
    .news-card {
        width: 90%;
    }
}

@media (max-width: 900px) {
    .pdf-section {
        flex-direction: column;
        height: auto;
    }

    .pdf-view {
        height: 70vh;
    }
}